<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="seckinumurEntities" connectionString="metadata=res://*/Model.SeckinumurDB.csdl|res://*/Model.SeckinumurDB.ssdl|res://*/Model.SeckinumurDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seckinumurcom.database.windows.net;initial catalog=seckinumur;persist security info=True;user id=seckinumur;password=Cassini9916;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SeckinUmurControl.Properties.Settings.seckinumurConnectionString"
      connectionString="Data Source=seckinumurcom.database.windows.net;Initial Catalog=seckinumur;Persist Security Info=True;User ID=seckinumur;Password=Cassini9916"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>